.button {
    /*TODO: перенести на bootstrap*/
    align-items: flex-end;
    background-color: white;
    border: none;
    gap: 15px;
}

/* если кнопка является ссылкой */
a.button {
    text-decoration: none;
}

.button__text {
    text-transform: uppercase;
    color: #24aa17;
    border-bottom: 1px solid #24aa17;
}

.button__icon {
    display: block;
    width: 17px;
    height: 19px;
}