 .projects-container {
     align-items: center;
     flex-direction: column;
 }
 .more-img {
     background: url("./img/icon/flower-icon.png");
     width: 19px;
     height: 19px;
 }
 
 @media screen and (min-device-width: 768px) {
     .projects-container {
         flex-wrap: wrap;
         flex-direction: row;
     }
 }