.title {
    margin-left: 33px;
}

.btn-review:first-child {
    margin-right: 42px;
}

.review .info p {
    height: 75px;
}

.review {
    max-width: 373px;
    height: 260px;
    background-image: url("./img/assets/review-i-bg.png");
    background-color: white;
    padding-left: 40px;
    padding-top: 44px;
    padding-bottom: 20px;
}

.btn-review * {
    display: inline-block;
}

.review {
    display: none;
}



.who {
    margin-bottom: 10px;
    height: 87px;
}

.info {
    bottom: 0;
    color: white;
    padding: 13px 20px;
}

.search-btn {
    width: 25px;
    height: 19px;
    background-image: url("./img/icon/search-icon.png");
}

.article-icon {
    width: 21px;
    height: 21px;  
    background-image: url("./img/icon/article-icon.png");
}

@media screen and (min-device-width: 768px) {
    .review {
        display: block;
    }
}