.articles {
    padding-top: 120px;
    background-image: url("/assets/artic-bg.png");
    background-size: cover;
    padding-bottom: 132px;
}

.articles__description {
    max-width: 100%;
    font-size: 14px;
}

.articles__paragraph {
    margin-bottom: 22px;
}

.articles__title {
    margin-bottom: 45px;
    font-weight: bold;
}

.articles__button {
  padding: 0;
  background: transparent;
}

.articles__projects {
    align-items: center;
    flex-direction: column;
}

@media screen and (min-device-width: 768px) {

    .articles__description {
        max-width: 188px;
    }

    .articles__projects {
        flex-wrap: wrap;
        flex-direction: row;
    }
}