.articles {
    padding-top: 120px;
    background-image: url("/img/assets/artic-bg.png");
    background-size: cover;
    padding-bottom: 132px;
}

.articles-info {
    max-width: 100%;
    font-size: 14px;
}

.paragraph {
    margin-bottom: 22px;
}

.title {
    margin-bottom: 70px;
    font-weight: bold;
}

.articles-title {
    margin-bottom: 45px;
}


.projects-container {
    align-items: center;
    flex-direction: column;
}

/*Здесь был companies-img*/
.more-img {
    background: url("./img/icon/message-icon.png");
    width: 19px;
    height: 19px;
}

@media screen and (min-device-width: 768px) {
    .main-container {
        max-width: 1260px;
        margin: 0 auto;
    }

    .articles-info {
        max-width: 188px;
    }

    .projects-container {
        flex-wrap: wrap;
        flex-direction: row;
    }
}