.reviews {
    margin-top: 80px;
    padding-top: 120px;
    background-image: url("./img/assets/review-bg.jpg");
    background-size: cover;
    padding-bottom: 132px;
}

.title {
    margin-bottom: 70px;
    font-weight: bold;
}

.paragraph {
    text-transform: uppercase;
    color: #24aa17;
    border-bottom: 1px solid #24aa17;
    padding-bottom: 1px;
    margin-left: 13px;
}

.companies-img {
    background: url("./img/icon/message-icon.png");
}

@media screen and (min-device-width: 768px) {
    .main-container {
        max-width: 1260px;
        margin: 0 auto;
    }
}