.button {
    /*TODO: перенести на bootstrap*/
    align-items: center;
    background-color: white;
    border: none;
    gap: 15px;
}

/* если кнопка является ссылкой */
a.button {
    text-decoration: none;
}

.button__text {
    text-transform: uppercase;
    color: #24aa17;
}

.button__icon {
    display: block;
    width: 17px;
    height: 19px;
}

@media screen and (max-width: 1200px) {
    .button {
        font-size: 15px;
        margin-right: 15px;
        align-items: center;
    }
    .button__text {
        border: none;
    }
}