.companies-img {
    background: url("./img/icon/message-icon.png");
}

.companies-block-img {
    max-width: 1200px;
}

.companies-block-img img {
    margin-right: 50px;
    margin-bottom: 70px;
}

.companies {
    margin-top: 248px;
}

.title {
    margin-bottom: 70px;
    font-weight: bold;
}

.paragraph {
    text-transform: uppercase;
    color: #24aa17;
    border-bottom: 1px solid #24aa17;
    padding-bottom: 1px;
    margin-left: 13px;
}

.more-img {
    background: url("./img/icon/flower-icon.png");
    width: 19px;
    height: 19px;
}