.suggests {
    list-style-type: none;
    display: block;
}

.suggest {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.suggest__tick {
    width: 17px;
    height: 15px;
    background: url("/icon/tick-icon.png");
}

/** TICKS ON MOBILE */
.suggests.showInMobile {
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 30px;
    display: none;
}

/** TICKS ON MOBILE END */

@media screen and (max-width: 1200px) {
    .suggests {
        display: none;
    }
}