
/** NB! popup используется в Main, state.js, Header*/

/* Main + Header + Footer **/
.desk {
    display:none;

}
.logo {
    width:67px;
    height:47px;
    background:url("./img/logo/logo.jpg");
}

/** Footer + Header */
.tel, .site {
    color:#24aa17;
}
.tel-block p, .site-block p {
    font-size:10px;
}


/*Header + Footer*/
.tick {
    display:inline-block;
    width:17px;
    height:15px;
    background:url("./img/icon/tick-icon.png");
    margin-right:4px;
}
.desk-header-contact {
    background:#f5f6f8;
    height:120px;
    padding-left:64px;
    padding-right:64px;
    padding-top:16px;
    border-bottom:1px solid #e5e5e5;
    
}
/*Popup + Header + Main*/
.btn {
    background:#24aa17 !important;
    height:50px;
    width:200px ;
    color:white;
    border-radius:0px;
    
}

/*Header + Footer*/
.logo-title {
    color:#24aa17;
    margin-top:20px;
    margin-left:26px;
}







.info-trailer {
    position:absolute;
    
    color:white;
    top:0;
    left:0;
    text-align:center;
    max-width:411px;
}
.info-trailer h2 {
    font-size:32px;
}
.info-trailer p {
    font-size:12px;
}
#drops {
    background:url("./img/assets/big_field.jpg");

}
#setka {
    background:url("./img/assets/field_works.JPEG");
}
#vegetables {
    background:url("./img/assets/thread.JPG");
}
.card-site {
    width:420px;
    height:240px;
    
}
.card-site p {
    position:absolute;
    top:160px;
    left:30px;
}

.card-site p a {
    
    color:black;
    text-decoration: none;
    border-bottom:1px solid #24aa17;
    padding-bottom:6px;
    font-weight:bold;
}
.img-right {
    width:180px;
    height:180px;
    position:absolute;
    top:0;
    right:0;
    border-radius:0 0 0 100%;
   
}
main {
    background:white;
    
    
}

.card-site {
    background:white;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, .2);
    margin-bottom:35px;
}
#drops-left {
    background:url("./img/icon/drops-icon.png");
    width:67px;
    height:67px;
}
#setka-left {
    background:url("./img/icon/circles-icon.png");
    width:90px;
    height:56px;
}
#vegetables-left {
    background:url("./img/icon/wheat-icon.png");
    width:52px;
    height:67px;
}
.img-left {
    position:absolute;
    top:58px;
    left:40px;
}
.card-site p {
    position:absolute;
    top:154px;
    left:40px;
}
.card-site {
    top:-8px;
}
.card-sites {
    flex-direction:column;
}
.title {
    font-weight:bold;
}
.project {
    width:280px;
    height:280px;

}
.small-project-p {
    font-size:12px;
}
#salat {
    background:url("./img/assets/cabbages.jpg");
}
#lenti {
    background:url("./img/assets/bushes.jpg");
}
#raspberry {
    background:url("./img/assets/2_rubles.jpg");
}
#carrot {
    background:url("./img/assets/carrots.jpg");
}
#cabbage {
    background:url("./img/assets/cabbage.jpg");
}
.project .info {
    bottom:0;
    color:white;
    padding:13px 20px;
}
.projects-container {
    align-items: center;
    flex-direction:column;

}
.project {
    margin-bottom: 18px;
}
#pitom {
    background:url("./img/assets/greenfield.jpg");
}
#calc {
    background:url("./img/assets/calc.jpg");
}
.project .info p.big {
    text-transform: uppercase;
    font-weight:bold;
}
.more-img {
    background:url("./img/icon/flower-icon.png");
    width:19px;
    height:19px;
    
    
}
.companies-img {
    background:url("./img/icon/message-icon.png");
}
.companies-block-img {
    max-width:1200px;
}
.companies-block-img img{
    margin-right:50px;
    margin-bottom:70px;
}
.reviews {
    margin-top:80px;
    padding-top:120px;

    background-image:url("./img/assets/review-bg.jpg");
   background-size:cover;
    padding-bottom:132px;
}
.articles {
    padding-top:120px;
    background-image:url("./img/assets/artic-bg.png");
    background-size:cover;
    padding-bottom:132px;
}
.articles-title {
    margin-bottom:45px;
}
.articles-title+p {
    margin-bottom:22px;
}
.articles-info {
    max-width: 100%;
    font-size:14px;
}
.review-title {
    margin-left:33px;
}
.btn-review:first-child {
    margin-right:42px;
}
.review .info p{
    height:75px;
}
.who {
    margin-bottom:10px;
    height:87px;
}
.zao {
    width:87px;
    height:87px;
    background-size:cover;
    background-image:url("./img/logo/biruli.gif");
}
.pokr {
    width:87px;
    height:87px;
    background-image:url("./img/logo/pokr-logo/logo.jpg");
    background-size:cover;
}
.search-btn {
    width:25px;
    height:19px;
    background-image:url("./img/icon/search-icon.png");
}
.article-icon {
    width:21px;
    height:21px;
    background-image:url("./img/icon/article-icon.png");
}
.review {
    max-width:373px;
    height:260px;
    background-image:url("./img/assets/review-i-bg.png");
    background-color:white;
    padding-left:40px;
    padding-top:44px;
    padding-bottom:20px;
}
.btn-review * {
    display:inline-block;
}
.btn-more p {
    text-transform: uppercase;
    color:#24aa17;
    border-bottom:1px solid #24aa17;
    padding-bottom:1px;
    margin-left:13px;
}
.adva-text {
    margin-left:20px;
}
.advantages {
    margin-top:214px;
    max-width:1200px;
}
.adva-title {
    margin-bottom:70px;
}
.block-adva {
    width:324px;
    
}
.companies {
    margin-top:248px;
}
.adva-image {
    width:54px;
    height:52px;
}
.adva-title-block {
    font-weight:bold;
}
.block-adva {
    font-size:13px;

}
main {
    top:0;
}
.review {
    display:none;
}
.showInMobile {
    display:block;
}
.calendar-img {
    background:url("./img/icon/calendar.png");
    background-size:cover;
}
.archive {
    
    background:url("./img/assets/big_field_bg.jpg");
    background-size:cover;
    padding-top:100px;
    padding-bottom:132px;
}
.archive-date {
    color: #87d07f;
    font-size:50px;
    font-weight:bold;
}
.archive-date-month * {
    display:inline-block;
}
.archive-block {
    background:white;
    max-width:100%;
    height:444px;
    padding: 36px 12px;
    margin-bottom: 60px;
    margin-right: 16px;
    margin-left:16px;
}


.archive-about {
    color:#9b9a9e;
    margin-bottom: 60px;
}
.month {
    margin-left:6px;
}
.footer {
    height:164px;
    color:#77767b;
    border-bottom:2px solid rgba(119,118,123,50%);
    padding-left:0;
    padding-right:0;
}
.about {
    color:#77767b;
    background:#f5f6f8;
    padding-top:16px;
}
.about a {
    text-decoration:none;
    border-bottom:1px solid #77767b;
}
.social-btn {
    width: 28px;
    height:28px;
    background-size:cover;
}
#insta {
    background-image:url("./img/icon/inst-icon.png");
}
#vk {
    background-image:url("./img/icon/vk-icon.png");
}
#ut {
    background-image:url("./img/icon/youtube-icon.png");
}
.btn-archive {
    width:136px;
    height: 37px;
    text-align:center;
    padding:15px 25px;
    background:#e4e5e9;
    color:#9b9a9e;
    font-weight:bold;
    text-transform: uppercase; 
}
.contact-img {
    background:url("./img/icon/phone_book-icon.png");
}
.container-btn {
    margin-left: 32px;
    padding-top: 6px;

}
.contact-btns {
    margin-top: 38px;
}
.contact_with_us-title {
    margin-bottom: 40px;

}
.contact-btns {
    margin-top: 40px;
}
.img-right-contact {
    background:url("./img/assets/articles-bg.jpg") no-repeat center center/contain;
    height:410px;
    margin-top: 88px;
}
.text {
    max-width:100%;
    padding-top: 182px;
    padding-bottom: 190px;
}
.cssload-thecube {
    
	width: 146px;
	height: 146px;
	margin: 0 auto;
	margin-top: 49px;
    position: absolute;
    left:30%;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
    display:none;
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(43,160,199);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@media screen and (min-device-width: 768px) {
    .text {
        max-width:532px;
    }
    .footer ,.about {
        padding-left:64px;
    padding-right:64px;
   
    }
    .archive-block {
        width:278px;
        margin-left:0;
        margin-right:0;
    }
    .archive-block {
        margin-bottom:0;
    }
    .articles-info {
        max-width: 188px;
    }
    .info-trailer p {
        font-size:16px;
    }
   .review {
       display:block;
   }
   .mobile {
      display:none;
	}
    .desk {
      display:block;
	}
   .block-adva:nth-child(n + 1){
       margin-top:60px;
   }
    .desk-menu {
         z-index:1000;
         transition:opacity 1s ease;
	}
   .desk-menu-opened {
      opacity:1
	}
    .main-container {
         max-width:1260px;
         margin: 0 auto;
    }
   
    .project {
        margin-right:20px;
    }
    
    .projects-container {
        flex-wrap:wrap;
        flex-direction:row;
        
    }
    .mobile {
        display:none;
    }
    .card-sites {
        flex-direction: row;
    }
    .info-trailer {
        max-width:100%;
    }
    .desk-header-contact {
        display:flex;
    }
    .desk-header-menu {
        display:flex;
    }
    .info-trailer {
        max-width:714px;
        left:25%;
        top:25%;
    }
    .img-left {
        top:56px;
        left:40px;
    }
    .card-site {
        margin-right:35px;
    }
    .cards-sites p {
        top:177px;
        padding-bottom:2px;
        
    }
    .first-p {
        width:135px;
    }
    .second-p {
        width:167px;
    }
    .third-p {
        width:173px;
    }
    .card-site {
        top:-43px;
        width:372px;
        height: 240px;
    }
    .popup {
        
    left:30%;
    }
}
