
/** NB! popup используется в Main, state.js, Header*/

/* Main + Header + Footer **/
.desk {
    display:none;

}
.logo {
    width:67px;
    height:47px;
    background:url("./img/logo/logo.jpg");
}

/** Footer + Header */
.tel, .site {
    color:#24aa17;
}
.tel-block p, .site-block p {
    font-size:10px;
}


/*Header + Footer*/
.tick {
    display:inline-block;
    width:17px;
    height:15px;
    background:url("./img/icon/tick-icon.png");
    margin-right:4px;
}
.desk-header-contact {
    background:#f5f6f8;
    height:120px;
    padding-left:64px;
    padding-right:64px;
    padding-top:16px;
    border-bottom:1px solid #e5e5e5;
    
}
/*Popup + Header + Main*/
.btn {
    background:#24aa17 !important;
    height:50px;
    width:200px ;
    color:white;
    border-radius:0px;
    
}

/*Header + Footer*/
.logo-title {
    color:#24aa17;
    margin-top:20px;
    margin-left:26px;
}



.text {
    max-width:100%;
    padding-top: 182px;
    padding-bottom: 190px;
}

/*mobile-first*/
@media screen and (min-device-width: 768px) {

    .text {
        max-width: 532px;
    }

    /*TODO: footer, about @media*/
    .footer ,.about {
        padding-left: 64px;
        padding-right: 64px;
    }
  
    .info-trailer p {
        font-size: 16px;
    }
   
   .mobile {
      display: none;
	}
    .desk {
      display: block;
	}
   
    .desk-menu {
         z-index: 1000;
         transition: opacity 1s ease;
	}
   .desk-menu-opened {
      opacity: 1
	}
    .main-container {
         max-width: 1260px;
         margin: 0 auto;
    }

   
    .card-sites {
        flex-direction: row;
    }
    .info-trailer {
        max-width: 714px;
        left: 25%;
        top: 25%;
    }
    .desk-header-contact {
        display: flex;
    }
    .desk-header-menu {
        display: flex;
    }

    

    /*TODO: здесь изменения Paragraph, вынести width в props*/
    .first-p {
        width:135px;
    }
    .second-p {
        width:167px;
    }
    .third-p {
        width:173px;
    }

    .popup {
        left:30%;
    }
}
