main {
    position: relative;
    top: 0;
}

/*TODO: попробовать хотя бы переименовать*/
#drops {
    background: url("./img/assets/big_field.jpg");
}

#setka {
    background: url("./img/assets/field_works.JPEG");
}

#vegetables {
    background: url("./img/assets/thread.JPG");
}





main {
    background: white;
}

.card-sites {
    flex-direction: column;
}



#drops-left {
    background: url("./img/icon/drops-icon.png");
    width: 67px;
    height: 67px;
}

#setka-left {
    background: url("./img/icon/circles-icon.png");
    width: 90px;
    height: 56px;
}

#vegetables-left {
    background: url("./img/icon/wheat-icon.png");
    width: 52px;
    height: 67px;
}

.title {
    font-weight: bold;
}



.small-project-p {
    font-size: 12px;
}

#salat {
    background: url("./img/assets/cabbages.jpg");
}

#lenti {
    background: url("./img/assets/bushes.jpg");
}

#raspberry {
    background: url("./img/assets/2_rubles.jpg");
}

#carrot {
    background: url("./img/assets/carrots.jpg");
}

#cabbage {
    background: url("./img/assets/cabbage.jpg");
}

.projects-container {
    align-items: center;
    flex-direction: column;
}


#pitom {
    background: url("./img/assets/greenfield.jpg");
}

#calc {
    background: url("./img/assets/calc.jpg");
}

.more-img {
    background: url("./img/icon/flower-icon.png");
    width: 19px;
    height: 19px;
}

.companies-img {
    background: url("./img/icon/message-icon.png");
}

.companies-block-img {
    max-width: 1200px;
}

.companies-block-img img {
    margin-right: 50px;
    margin-bottom: 70px;
}

.reviews {
    margin-top: 80px;
    padding-top: 120px;
    background-image: url("./img/assets/review-bg.jpg");
    background-size: cover;
    padding-bottom: 132px;
}

.articles {
    padding-top: 120px;
    background-image: url("./img/assets/artic-bg.png");
    background-size: cover;
    padding-bottom: 132px;
}

.articles-title {
    margin-bottom: 45px;
}

.articles-title + p {
    margin-bottom: 22px;
}

.articles-info {
    max-width: 100%;
    font-size: 14px;
}

.review-title {
    margin-left: 33px;
}

.btn-review:first-child {
    margin-right: 42px;
}

.review .info p {
    height: 75px;
}

.who {
    margin-bottom: 10px;
    height: 87px;
}

.zao {
    width: 87px;
    height: 87px;
    background-size: cover;
    background-image: url("./img/logo/biruli.gif");
}

.pokr {
    width: 87px;
    height: 87px;
    background-image: url("./img/logo/pokr-logo/logo.jpg");
    background-size: cover;
}

.search-btn {
    width: 25px;
    height: 19px;
    background-image: url("./img/icon/search-icon.png");
}

.article-icon {
    width: 21px;
    height: 21px;
    background-image: url("./img/icon/article-icon.png");
}

.review {
    max-width: 373px;
    height: 260px;
    background-image: url("./img/assets/review-i-bg.png");
    background-color: white;
    padding-left: 40px;
    padding-top: 44px;
    padding-bottom: 20px;
}

.btn-review * {
    display: inline-block;
}

.btn-more p {
    text-transform: uppercase;
    color: #24aa17;
    border-bottom: 1px solid #24aa17;
    padding-bottom: 1px;
    margin-left: 13px;
}

.adva-text {
    margin-left: 20px;
}

.advantages {
    margin-top: 214px;
    max-width: 1200px;
}

.adva-title {
    margin-bottom: 70px;
}

.block-adva {
    width: 324px;

}

.companies {
    margin-top: 248px;
}

.adva-image {
    width: 54px;
    height: 52px;
}

.adva-title-block {
    font-weight: bold;
}

.block-adva {
    font-size: 13px;
}

.review {
    display: none;
}

.showInMobile {
    display: block;
}

.calendar-img {
    background: url("./img/icon/calendar.png");
    background-size: cover;
}

.archive {
    background: url("./img/assets/big_field_bg.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 132px;
}

.archive-date {
    color: #87d07f;
    font-size: 50px;
    font-weight: bold;
}

.archive-date-month * {
    display: inline-block;
}

.archive-block {
    background: white;
    max-width: 100%;
    height: 444px;
    padding: 36px 12px;
    margin-bottom: 60px;
    margin-right: 16px;
    margin-left: 16px;
}


.archive-about {
    color: #9b9a9e;
    margin-bottom: 60px;
}

.month {
    margin-left: 6px;
}

.btn-archive {
    width: 136px;
    height: 37px;
    text-align: center;
    padding: 15px 25px;
    background: #e4e5e9;
    color: #9b9a9e;
    font-weight: bold;
    text-transform: uppercase;
}
/*TODO: найти похожие конструкции background: url и переделать на img*/
.contact-img {
    background: url("./img/icon/phone_book-icon.png");
}

.container-btn {
    margin-left: 32px;
    padding-top: 6px;
}

.contact-btns {
    margin-top: 40px;
}

.contact_with_us-title {
    margin-bottom: 40px;
}

.img-right-contact {
    background: url("./img/assets/articles-bg.jpg") no-repeat center center/contain;
    height: 410px;
    margin-top: 88px;
}