 .projects {
     display: flex;
     flex-direction: column;
 }

 .title-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 30px;
 }
 

 .projects-container {
     display: flex;
     flex-wrap: wrap;
     gap: 5px;
 }

 @media screen and (max-width: 1200px) {
     .projects-container {
         justify-content: center;
     }

    .title-container {
        flex-wrap: wrap;
     }
     .title__btn {
        margin-top: 5px;
        margin-left: 15px;
     }
 }