.archive {
    background: url("/assets/big_field_bg.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 132px;
}

.title {
    font-weight: bold;
    font-size: 2rem;
}

.paragraph {
    margin-bottom: 22px;
}

.upper-paragraph {
    text-transform: uppercase;
    color: #24aa17;
    border-bottom: 1px solid #24aa17;
    padding-bottom: 1px;
    margin-left: 13px;
}

.calendar-img {
    width: 19px;
    height: 19px;
    background: url("/icon/calendar.png");
    background-size: cover;
}

@media screen and (min-device-width: 768px) {
    .main-container {
        max-width: 1260px;
        margin: 0 auto;
    }
}