.hamburger-menu {
    margin-right: 11px;
}

.hamburger:hover {
    background: #dddddd;

}

.hamburger,
.hamburger-menu {
    padding: 5px;

}


.hamburger-line {
    background-color: #24aa17;
    width: 15px; /*TODO: check 25px*/
    height: 3px;

}
.hamburger-line:nth-child(n + 2) {
    margin-top: 4px;
}

.mobile-header {
    display: flex;
    background: #f5f6f8;
    height: 68px;
}
.mobile-header-list {
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 30px;
    display: none;
}
.mobile-header-list ul,
.desk-header-contact-list {
    list-style-type: none;
}
.mobile-header-list a {
    text-decoration: none;
    color: black;
}

.search {
    width: 20px;
    height: 17px;
    background: url("./img/icon/search-icon-2.png");
}

.desk-header-contact {
    display: none;
}

#video {
    max-width: 100%;
}

