.header {
    background: #f5f6f8;
    padding-left: 0;
    padding-right: 0;
    height: 164px;
}

/**HAMBURGER MENU*/

.hamburger-menu {
    margin-right: 11px;
}

.hamburger:hover {
    background: #dddddd;
}

.hamburger,
.hamburger-menu {
    padding: 5px;
    cursor: pointer;
}

.hamburger-line {
    background-color: #24aa17;
    width: 15px; /*TODO: check 25px*/
    height: 3px;
}

.hamburger-line:nth-child(n + 2) {
    margin-top: 4px;
}

/**HAMBURGER MENU END*/

.header.showInMobile {
    display: flex;
    background: #f5f6f8;
    height: 68px;
}

/** TICKS ON MOBILE */
.header__suggests.showInMobile {
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 30px;
    display: none;
}

ul.header__suggests  {
    list-style-type: none;
}

.header_suggest__tick {
    width: 17px;
    height: 15px;
    background: url("/icon/tick-icon.png");
}

/** TICKS ON MOBILE END */


/** TICKS on DESKTOP **/
.header__suggests {
    list-style-type: none;
}

.header__suggest {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.header__suggest__tick {
    width: 17px;
    height: 15px;
    background: url("/icon/tick-icon.png");
}

/** TICKS on DESKTOP END **/

.header__list.showInMobile a {
    text-decoration: none;
    color: black;
}


.search {
    width: 20px;
    height: 17px;
    background: url("/icon/search-icon-2.png");
}


#video {
    max-width: 100%;
}

.btn__search {
    width: 25px;
    height: 19px;
    background: url("/icon/search-icon.png");
    margin: 0 auto;
    cursor: pointer;
}

.btn__container {
    width: 100px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
/** HEADER MENU */


.header__menu__list a {
    color: black;
    text-decoration: none;
}

ul.header__menu__list {
    list-style-type: none;
    margin: 0;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 25px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 25px;
    width: 100%;
}



ul.header__menu__list:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
/** HEADER MENU END */


/** MENU on DESKTOP **/

.menu.desk {
    text-transform: uppercase;
    font-size: 10px;
    opacity: 0;
}

.menu.desk ul {
    list-style-type: none;
    margin-left: 44px;
    padding: 0;
    background-color: white;
}

.menu.desk li {
    padding: 20px;
}

.menu.desk a {
    color: black;
    text-decoration: none;
}

/** MENU on DESKTOP END **/


/** VIDEO SECTION **/

.trailer {
    overflow: hidden;
}
.trailer__info {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
    max-width: 428px;
    transform: translate(-50%, -50%);
}

.trailer__info h1 {
    font-size: 32px;
}

.trailer__info p {
    font-size: 18px;
}

/** VIDEO SECTION END **/

/** LOGO **/
.logo {
    gap: 15px;
}

.logo__image {
    width: 67px;
    height: 47px;
    background: url("/logo/logo.jpg");
}

.logo__title {
    color: #24aa17;
}

/** LOGO END **/


/*TODO: повтор стилей. Для ContactInfo*/
/** CONTACT INFO **/
.contact {
    color: black;
}


.contact__email,
.contact__phone {
    color: #24aa17;
    text-decoration: none;
    transition: .3s;
}

.contact__email:hover,
.contact__phone:hover {
    color: black;
}

.contact p {
    font-size: 10px;
}

/** CONTACT INFO END **/

@media screen and (min-device-width: 768px) {

    .header__menu {
        display: flex;
    }

    .desk.menu {
        z-index: 1000;
        transition: opacity 1s ease;
    }

    .desk.menu__opened {
        opacity: 1
    }

    .trailer__info {
        max-width: 714px;
    }

    .header {
        padding-left: 64px;
        padding-right: 64px;
    }
}