.header {
    background: #f5f6f8;
    padding-left: 0;
    padding-right: 0;
    height: 164px;
}


@media screen and (min-device-width: 768px) {

    .header__menu {
        display: flex;
    }

    .desk.menu {
        z-index: 1000;
        transition: opacity 1s ease;
    }

    .desk.menu__opened {
        opacity: 1
    }

    .trailer__info {
        max-width: 714px;
    }

    .header {
        padding-left: 64px;
        padding-right: 64px;
    }
}