/* Main + Header + Footer **/
.desk {
  display: none;

}

.showInMobile {
  display: block;
}


p {
  margin-top: 0;
}

@media screen and (min-device-width: 768px) {
  /*TODO: 2 одинаковых по смыслу стиля. Попробовать использовать ток showInMobile*/
  .desk {
      display: block;
  
  }
  .showInMobile {
      display: none;
  }
}