/* Main + Header + Footer **/

.showInMobile {
  display: none;
}


p {
  margin-top: 0;
}

.restrict-width {
  max-width: 1260px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .restrict-width {
      max-width: 1160px;
      margin: 0 auto;
  }
}

@media screen and (max-width: 873px) {

  
}