.archive {
    background-image: url("/assets/big_field_bg.jpg");
    background-color: transparent;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 132px;
}


.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.news-container {
    gap: 10px;
}

@media screen and (max-width: 1200px) {
    .title-container {
        flex-direction: column;
        align-self: flex-start;
    }

    .archive__btn {

        border-radius: 15px;
        margin: 0 auto;
        margin-top: 15px;
    }
}