.title {
    margin-bottom: 40px;
}

/*TODO: найти похожие конструкции background: url и переделать на img*/
.contact-img {
    background: url("/icon/phone_book-icon.png");
    width: 19px;
    height: 19px;
}

.container-btn {
    margin-left: 32px;
    padding-top: 6px;
}

.contact-btns {
    margin-top: 40px;
}

.img-right-contact {
    background: url("/assets/articles-bg.jpg") no-repeat center center/contain;
    height: 410px;
    margin-top: 88px;
}


.btn {
    background: #24aa17 !important;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 0px;
    text-align: center;
    transition: .3s;
}

.btn:hover {
    color: black;
}

.text {
    max-width: 100%;
    padding-top: 182px;
    padding-bottom: 190px;
}

.upper-paragraph {
    text-transform: uppercase;
    color: #24aa17;
    border-bottom: 1px solid #24aa17;
    padding-bottom: 1px;
    margin-left: 13px;
}

@media screen and (min-device-width: 768px) {
    .main-container {
        max-width: 1260px;
        margin: 0 auto;
    }
}