

.contact-btns {
    display: flex;
    align-items: center;
    gap: 32px;
}

.img-right-contact {
    background: url("/assets/articles-bg.jpg") no-repeat center center/contain;
    height: 410px;
    margin-top: 88px;
}


.btn {
    background: #24aa17 !important;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 0px;
    text-align: center;
    transition: .3s;
    border: none;
}

.btn:hover {
    color: black;
}

.text {
    max-width: 100%;
    padding-top: 182px;
    padding-bottom: 190px;
}
