.footer {
    background: #f5f6f8;
    color: #77767b;
    height: 164px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid rgba(119, 118, 123, 50%);
}

.logo {
    gap: 15px;
}

.logo__image {
    width: 67px;
    height: 47px;
    background: url("/logo/logo.jpg");
}

.logo__title {
    color: #24aa17;
}

.social__button {
    width: 28px;
    height: 28px;
    background-size: cover;
    border: none;
    padding: 0;
    margin: 0;
}

.footer__suggests {
    list-style-type: none;
}

.footer__suggest {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.footer__suggest__tick {
    width: 17px;
    height: 15px;
    background: url("/icon/tick-icon.png");
}
/*TODO: повтор стилей. Для ContactInfo*/
.contact {
    color: black;
}


.contact__email,
.contact__phone {
    color: #24aa17;
    text-decoration: none;
    transition: .3s;
}
.contact__email:hover,
.contact__phone:hover {
    color: black;
}
.contact p {
    font-size: 10px;
}

/*-----------------------------------------*/

@media screen and (min-device-width: 768px) {
    .footer,.about {
        padding-left: 64px;
        padding-right: 64px;
    }
}